<form action="http://localhost:8080/api/signup" method="post">
    <input type="text" name="first_name" value="Nombre"/>
    <input type="text" name="last_name" value="Apellido"/>
    <input type="text" name="email" value="Correo electrónico"/>
    <input type="number" name="age" value="Edad"/>
    <input type="password" name="password" value="Contraseña"/>
    <button value="submit">Registrarse</button>
</form>
